{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'createproject'%}"><h2 class="text-center mt-4 mb-2">Add New Project Here!</h2></a>
            
        </div>
    </div>

    <div class="row mt-5" id="tablecontainer">
        <div class="col-12 table-responsive">
            <table class="table">
                <tbody>
                    <thead>
                        <tr>
                            <td><h4>Project Name</h4></td>
                            <td><h4>Client Name</h4></td>
                            <td><h4>Project Status</h4></td>
                        </tr>
                    </thead>
                    {% for project in project_list %}
                    <tr>
                        <td class="text-left"><h6>{{ project.name }}</h6></td>
                        <td ><h6>{{ project.client }}</h6></td>

                        <td >   {% if project.project_status == True %}<p>Completed</p>
                            {% else %}<p>Ongoing</p>{% endif %}</td>

                        <td class="text-center">
                         
                            <a href="{% url 'projectdetailview' project.id %}" type="button" class="mx-2 btn btn-info">VIEW</a>
                        </td>
                        <td class="text-center">
                            <form method="POST" action="{% url 'projectdelete' project.id %}">
                                {% csrf_token %}
                             
                                <button type="submit" class="mx-2 btn btn-danger">DELETE</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
